src/main/mule/project_four.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="178a3019-c3b0-4c68-80b6-937049505cbd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d2aee5bc-c25f-4b77-b9a9-baa6841e2ecc" >
		<http:request-connection host="reqres.in" port="80" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="3a33b8ed-4671-46e4-ae66-712e6fbdef3c" >
		<wsc:connection wsdlLocation="http://dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://dneonline.com/calculator.asmx" />
	</wsc:config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="b9e1043b-a4c9-497b-aecf-b804ae9dcddb" >
		<http:request-connection host="americanflightsdemo.us-e2.cloudhub.io" port="80" />
	</http:request-config>
	<flow name="REST_API_Flow" doc:id="36fb2cdf-8a79-420f-a650-cc052ff2c0f1">
		<http:listener doc:name="Listener" doc:id="cc154a97-81a7-4288-8c42-04abc9421fb9" config-ref="HTTP_Listener_config" path="/flightsUsingService" />
		<logger level="INFO" doc:name="Logger" doc:id="2c0b789b-247c-4161-8967-f218ecd31ac7" message="Flights api started" />
		<http:request method="GET" doc:name="Request" doc:id="5f7854ef-bd53-4aa3-aef8-77b9dfe05fbf" config-ref="HTTP_Request_configuration1" path="/flights" />
		<logger level="INFO" doc:name="Logger" doc:id="c5aa207f-d5c0-4dba-948b-3a6307a3882e" />
	</flow>
	<flow name="REST_Flow" doc:id="7f5ec94b-092c-4476-884b-05fa4b9164b4" >
		<http:listener doc:name="Listener" doc:id="c71c382b-4328-4db0-9fc1-3f0ba83ee1a1" config-ref="HTTP_Listener_config" path="/users" allowedMethods="POST"/>
		<set-variable value="#[payload.inputNumber]" doc:name="Set Variable" doc:id="b193963b-44bb-4479-a20b-d703245ab267" variableName="userId"/>
		<logger level="INFO" doc:name="Logger" doc:id="089b02f5-2f8d-4336-b770-b45eeab144b3" message="Api started"/>
		<http:request method="GET" doc:name="Request" doc:id="fea3f53f-81e4-492e-af2f-782bfe90c8fd" config-ref="HTTP_Request_configuration" path="#['/api/user/'++ vars.userId as String]"/>
		<logger level="INFO" doc:name="Logger" doc:id="2bcc8fa0-42e8-418f-9d64-74f7fe2a1b43" />
	</flow>
	<flow name="SOAP_Flow" doc:id="73f0fdde-fc0a-4055-8cb4-62d33f035330">
		<http:listener doc:name="Listener" doc:id="41678664-caf5-4d73-a2bc-55b8e2db4015" config-ref="HTTP_Listener_config" path="/convert" />
		<ee:transform doc:name="Transform Message" doc:id="b6b13278-b5b6-428a-a6fe-cb509947215b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.inputNumberFirst,
		ns0#intB: payload.inputNumberSecond
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="7f1977d5-8c80-479a-ae2e-14aa2adc015c" config-ref="Web_Service_Consumer_Config" operation="Add" />
		<ee:transform doc:name="Transform Message" doc:id="8984a643-e89b-44a4-b7da-60f5550cfc96">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	result: payload.body
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="03500310-1013-4205-b031-9eb66bae6202" />
	</flow>
</mule>
